.content{
    flex-direction: column;
}
.divheader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(105, 67, 141);
    color: white;
}
.divmain {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 5vh;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    float: left;
    border: solid 1px;
    border-radius: 10px;
}
.divh2{
    width: 100%;
    background-color: rgba(11, 137, 137, 0.764);
    /* border: solid; */
    border-radius: 10px;
    text-align: center;
}
.divbot {
    margin-top: 15px;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid; */
}
.btc1, .btc2 
{
    width: 200px;
    height: 5vh;
}
.tcard1, .tcardSel {
    margin: 10px;
    border-radius: 8px;
    border: 1px solid;
    width: 80%;
    height: 50px;
    text-align: center;
    justify-content: center;
    display: flex;

}
.tcard1:hover, .tcard1:active, .tcardSel{
    background-color: blueviolet;
    color: aliceblue;
}