.select {
    width: 30vw;
}
.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: top;
    align-items: center;
    padding: 10px;
}

.conleft {
    width: 35vw;
    height: 80vh;
    display: flex;
    justify-content: right;
    align-items: top;  
    margin: 20px 10px;
}
.conleft > ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    list-style: none; 
}
.uli, .ulis{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
}
.uli:hover , .uli:active, .ulis   {
    background-color: gainsboro;
    color: rgba(0, 0, 255, 0.676);
    font-weight: bold;
}    
.conright {
    width: 50vw;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: top;  
    margin: 10px; 
}

/* .galimg{
    display: flex;
    flex-direction: row;
} */

.concard {
    /* padding: 50px; */
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 20px;
    margin: 20px;
    padding: 0px;
    background-color: rgba(0, 0, 139, 0.746);
    color: white;
    float: left;
}

.concard > div {
    /* margin: auto; */
    width: 80%;
    font-size: 1.2em;
} 

.concard >.conkw {
    /* height: 30%; */
    font-size: 0.8em;
    color: aliceblue;
}
.concard img {
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-bottom: 0px; */
    width : 100%;
    height: 270px;
}