.header {
    width: 100%;
    height: 13vh;
    background-color: rgb(20, 74, 74);
}
.all{
    margin-top: 7vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 70vh;
    justify-content: center;
    align-items: top;
}
.divlist, .divcontent {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: top; */
    /* border: 1px solid; */
}
.divlist{
    width: 40%;
    height: 70vh;
    /* align-items: center; */

}
.divcontent{
    justify-content: center;
    width: 45%;
    height: 70vh;
    border: 1px solid;
    /* margin-top: 15vh; */
}
.listli, .listlisel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
}
.listlisel{
    background-color: rgba(0, 0, 255, 0.446);
}

.listli:hover, listli:active{
    background-color: rgba(0, 0, 255, 0.446);
    font-weight: bold;
    
}
.contentimg{
    width: 100%;
    height: 55%;
}
.contentimg > img {
    width : 100%;
    height :100%;
}
.contentdetail{
    width: 100%;
    height: 45%;
    margin-left: 30px;
    margin-right: 20px;
}
.divform {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}